text {
    font-family: NanumGothic;
    font-size: 6px;
    pointer-events: none;
}
path {
    fill: #EEE;
    stroke: #c9c9c9;
}
path.region {
    cursor: pointer;
}
path.region:hover {
    fill: #ff6347;
}

#map {
    height: 500px;
    width:100%;
}
.delete{
	float:right;
	cursor: pointer;
}
.addition{
	float:right;
}
img{
	width:auto;
	height:100px;
}
.paging-nav {
  text-align: right;
  padding-top: 2px;
}
.paging-nav a {
  margin: auto 1px;
  text-decoration: none;
  display: inline-block;
  padding: 1px 7px;
  background: #91b9e6;
  color: white;
  border-radius: 3px;
}
.paging-nav .selected-page {
  background: #187ed5;
  font-weight: bold;
}
